modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "undollar"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Arman Law Firm"

[[workflows.workflow]]
name = "Arman Law Firm"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3000

[[ports]]
localPort = 5004
externalPort = 3003

[[ports]]
localPort = 5005
externalPort = 4200

[[ports]]
localPort = 5173
externalPort = 5173

[userenv]

[userenv.shared]
SUPABASE_URL = "https://vemzvvveaseghlhjmnqy.supabase.co"
SUPABASE_ANON_KEY = "sb_publishable_RsEVi4y85hR5b_3xXaDtCQ_Y3mgfdBj"
VITE_SUPABASE_URL = "https://vemzvvveaseghlhjmnqy.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_RsEVi4y85hR5b_3xXaDtCQ_Y3mgfdBj"
TELEGRAM_BOT_TOKEN = "8434464737:AAHuN0nyUoya9-t8p7U0MfnfwraWvLTf_Z0"
TELEGRAM_CHANNEL_ID = "@ARMAN_LAW_FIRM"
POYO_AI_API_KEY = "sk-G8djO1CepO_vfl0u5CDGDdD6dXC5zG67rX07RDUZadqQQ5zI627VTifWq5CsJm"
OPENROUTER_API_KEY = "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"
GEMINI_API_KEY = ""
PORTKEY_API_KEY = "gASN7iokVzgqJLweJTWr12V75JG+"
VITE_PORTKEY_API_KEY = "gASN7iokVzgqJLweJTWr12V75JG+"
VITE_POYO_AI_API_KEY = "sk-G8djO1CepO_vfl0u5CDGDdD6dXC5zG67rX07RDUZadqQQ5zI627VTifWq5CsJm"
VITE_GEMINI_API_KEY = ""
VITE_OPENROUTER_API_KEY = "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"
AIVEN_DATABASE_URL = "postgres://avnadmin:REPLACE_WITH_PASSWORD@pg-375b79cc-gold-bee7.c.aivencloud.com:19692/defaultdb?sslmode=require"

[deployment]
deploymentTarget = "cloudrun"
publicDir = "dist/public"
run = ["sh", "-c", "bash -c printf \"%s\\n\\n%s\" \"$0\" \"$1\" Please use the \u001B[1;93mConfiguration\u001B[0m pane to configure your run command. For more info, see: https://docs.replit.com/replit-workspace/configuring-repl#run"]
